* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #181616;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    /* border: 1px solid red; */
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
    color: #696969;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
    transition: color 1s;
}

.nav-link:hover{
    color: #3DFFDB;
    line-height: 56px;
    transition: color 1s;
}

.main {
    /* border: 1px solid red; */
    /* margin: 0; */
}

.design-html {
    font-size: 45px;
    margin: 0;
}

.design-tag {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #696969;
    text-shadow: 0px 1px 2px black;
    margin: 0;
}

.section {
    padding: 0 0 0 150px;
}

h1 {
    font-weight: 700;
    font-size: 55px;
    margin: 0;
    line-height: 56px;
    color: #3DFFDB;
}

.footer {
    /* border: 1px solid red; */
}

